<div id="<%= dom_id cart %>">
  <h2 class="font-bold text-lg mb-3">Your Cart</h2>
    <table class="table-auto">
      <%= render cart.line_items %>
      <tfoot>
        <tr class="h-4"><td colspan="5"></td></tr>
        <tr>
          <th class="text-right pr-2" colspan="4">
            <div class="pt-4">Total:</div> <!-- Added wrapper div with padding -->
          </th>
          <td class="text-right font-bold">
            <div class="border-t-2 border-black pt-2"> <!-- Moved border to inner div with padding above -->
              <%= number_to_currency(cart.total_price) %>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
  <div class="flex items-center space-x-4 mt-8">
    <%= button_to 'Empty Cart', cart, method: :delete,
      class: 'rounded-lg py-1 px-2 text-white bg-red-600 hover:bg-red-700 transition-colors duration-200' %>

    <%= link_to 'Back to shop', store_index_path,
      class: 'rounded-lg py-1 px-2 text-white bg-blue-600 hover:bg-blue-700 transition-colors duration-200' %>
  </div>
</div>
