<div id="<%= dom_id product %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= product.title %>
  </div>

  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= product.description %>
  </div>

  <div>
  <strong class="block font-medium mb-1">Image:</strong>
  <% if product.image.attached? %>
    <%= image_tag url_for(product.image), alt: product.title, class: "w-64 h-auto rounded shadow" %>
  <% elsif product.image_url.present? %>
    <%= image_tag product.image_url, alt: product.title, class: "w-64 h-auto rounded shadow" %>
  <% elsif product.image_name.present? %>
    <%= image_tag asset_path(product.image_name), alt: product.title, class: "w-64 h-auto rounded shadow" %>
  <% else %>
    <em>No image available</em>
  <% end %>
</div>



  <div>
    <strong class="block font-medium mb-1">Price:</strong>
    <%= number_to_currency(product.price) %>
  </div>
</div>
